<div class="form-group mb-2">
  <label for="title">Title</label>
  <input
    type="text"
    value="<%= article.title %> "
    class="form-control"
    id="title"
    name="title"
    placeholder="Enter title"
    required
  ></input>
</div>
<div class="form-group mb-2">
  <label for="description">Description</label>
  <textarea
    class="form-control"
    name="description"
    id="description"
  ><%= article.description %></textarea>
</div>
<div class="form-group mb-2">
    <label for="content">Content</label>
    <textarea
      class="form-control"
      id="content"
      name="content"
      placeholder="Enter Content"
      required
    ><%= article.content %></textarea>
</div>
<a href="/" class="btn btn-secondary mt-4">Cancel</a>
<button type="Submit" class="btn btn-primary mt-4">Save</button>
